<div class="index-container">
	<div class="row">
		<div class="col-xs-1"></div>
		<p>一覧</p>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-9">
		<% @posts.each do |post| %>
		<table class="table">
			<thead>
				<tr>
					<th>Image</th>
					<th>Title</th>
					<th>Text</th>
					<th>Genre</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th><%= link_to post_path(post.id) do %>
						<%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg', fallback: "no-image-mini.jpeg" %>
						<% end %>
					</th>
					<th><%= post.title %></th>
					<th><%= post.text %></th>
					<th><%= post.genre_id %></th>
				</tr>
			</tbody>
		</table>
		<% end %>
	</div>
</div>
