<h4>投稿</h4>
<!-- 投稿フォーム -->
<%= form_for(@post) do |f| %>
	<h4>image</h4>
	<%= f.attachment_field :image %>
	<h4>title</h4>
	<%= f.text_field :title %>
	<h4>text</h4>
	<%= f.text_area :text %>

	<%= f.label :genre %>
	<%= f.select :genre_id, ['小説', 'プログラミング', 'ビジネス'], {include_blank: '---'} %>

	<%= f.submit %>
<% end %>
