<div class="index-container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
		<%= form_with model: @post, scope: nil, url: posts_path, format: nil, local: true do |f| %>
			<h4>image</h4>
			<%= f.attachment_field :image %>
			<h4>title</h4>
			<%= f.text_field :title, class: "form-control" %>
			<h4>text</h4>
			<%= f.text_area :text, class: "form-control" %>
			<h4>genre</h4>
			<%= f.collection_select :genre_id, @genres, :id, :name, {include_blank: true}, {class: "form-control"} %>
			<%= f.submit "投稿", class: "btn btn-info btn-lg btn-block admin-products-create" %>
		<% end %>
		</div>
	</div>
</div>