<div class="index-container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-8">
			<table class="table">
				<thead>
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Text</th>
						<th>Genre</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<%= link_to (@post.user) do %>
							<%= attachment_image_tag @post, :image, :fill, 100, 100, fallback: "no-image-mini.jpeg" %><br/>
							<%= @post.user.name %>
							<% end %>
						</td>
						<td><%= @post.title %></td>
						<td><%= @post.text %></td>
						<td><%= @post.genre.name %></td>
						<td><% if @post.favorited_by?(current_user) %>
								<%= link_to post_favorites_path(@post), method: :delete do %>
									<span class="glyphicon glyphicon-heart" style="color: red;"><%= @post.favorites.count%></span>
								<% end %>
							<% else %>
								<%= link_to post_favorites_path(@post), method: :post do %>
									<span class="glyphicon glyphicon-heart-empty" style="color: red;"><%= @post.favorites.count %></span>
								<% end %>
							<% end %>
						</td>
						<td>コメント数:<%= @post.comments.count %></td>
						<% if @post.user == current_user %>
						<td><%= link_to "編集", edit_post_path(@post.id), class: "btn btn-primary"  %>
							<%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger"  %>
						</td>
						<% end %>
					</tr>
					<tr>
						<th>
							<h3>comment</h3>
						</th>
					</tr>
					<tr>
						<th>name</th>
						<th>comment</th>
					</tr>
					<% @post.comments.each do |comment| %>
					<tr>
						<td><%= comment.user.name %></td>
						<td><%= comment.comment %></td>
						<td>
							<% if user_signed_in? && comment.user_id == current_user.id %>
								<%= button_to "Destroy", post_comment_path(comment), method: :delete %>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= form_with model:[@post, @comment], local: true do |f| %>
				<%= f.hidden_field :post_id, :value => @post.id %>
				<div class="row">
					<div class="col-sm-12">
						<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
					</div>
				</div>
				<%= f.submit "送信" %>
			<% end %>
		</div>
		<div class="col-xs-2">
			<%= render 'users/profile', user: current_user %>
			<div class="genre">
				<%= form_with url: posts_path, method: :get, local: true do |f| %>
				<%= f.collection_select :i, Genre.all, :id, :name, :include_blank => "-------" %>
	        	<%= f.submit "ジャンル検索" %>
	        	<% end %>
			</div>
		</div>
	</div>
</div>