<!DOCTYPE html>
<html>
  <head>
    <title>MensSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left" style="color:white;">
          <h4>mens-space</h4>
        </nav>
        <nav>
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <% if user_signed_in? %>
                <li>
                  <%= link_to ' Home', user_path(current_user.id),class:"glyphicon glyphicon-home home" %>
                </li>
                <li>
                  <%= link_to ' Posts', posts_path,class:"glyphicon glyphicon-book books" %>
                </li>
                <li>
                  <%= link_to ' New_Post', new_post_path,class:"glyphicon glyphicon-book books" %>
                </li>
                <li>
                  <%= link_to " logout", destroy_user_session_path,class:"glyphicon glyphicon-log-out logout",method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to ' Home', root_path,class:"glyphicon glyphicon-home home" %>
                </li>
                <li>
                  <%= link_to ' sign up', new_user_registration_path,class:"glyphicon glyphicon-edit sign_up" %>
                </li>
                <li>
                  <%= link_to " login", new_user_session_path,class:"glyphicon glyphicon-log-in sign_in" %>
                </li>
              <% end %>
            </ul>
        </nav>
      </div>
    </header>
    <div class="welcome-text">
      <% if user_signed_in? %>
      <p>ようこそ <%= current_user.name %> さん !</p>
      <% end %>
    </div>
      <%= yield %>
  </body>
</html>
